/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;

    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 300;
}

.header h3 {
    font-style: italic;
}

.jumbotron h1{
    font-size: 36px;
    background-color: #fff;
}

.jumbotron {
padding-top: 7px;
padding-bottom: 7px;
background-color: #fff;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    padding-bottom: 19px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

#notification {
    display: none;
    position: fixed;
    width: 700px;
    z-index: 1;
    opacity: .94;
    top: 20px;
}

.controls {
    padding-bottom: 10px;
}

.task-status {
    height: 8px;
    margin-top: 4px;
    width: 8px;
    border-radius: 4px;
    margin-left: 4px;
    background-color: #EAEAEA;
    position: fixed;
}


.success .task-status{
    background-color: #70DB70;
}

.in-progress .task-status{
    background-color: #FFB84D;
}

.failure .task-status{
    background-color: #D65C33;
}

.task-status-fade {
    opacity: 0.1;
    webkit-transition: opacity .10s linear;
    transition: opacity .10s linear;
}

g p {
    margin-top: 10px;
}

pre code {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}