<div class="col-lg-12">
	<h3>
	  <%= Name %>
    </h3>


    <div class="btn-group controls">
        <button type="button" class="btn btn-default play"><span class="glyphicon glyphicon-play-circle"></span></button>
        <button type="button" class="btn btn-default stop"><span class="glyphicon glyphicon-stop"></span></button>
        <!-- <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-align-center"></span></button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-align-right"></span></button>
        <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-align-justify"></span></button> -->
      </div>

    
    <div id="<%= Id %>" class="flow-container">
	     <svg width=1280 height=240>
	         <g transform="translate(20,20)"/>
	     </svg>
	</div>
</div>